---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/search?page=1&pagesize=10&site=stackoverflow&tagged=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["ruby-on-rails","ruby","ruby-on-rails-4","devise"],"owner":{"reputation":425,"user_id":3726986,"user_type":"registered","accept_rate":56,"profile_image":"https://www.gravatar.com/avatar/84986af01dce6f0b13e4a684d1564a4c?s=128&d=identicon&r=PG&f=1","display_name":"user3726986","link":"https://stackoverflow.com/users/3726986/user3726986"},"is_answered":true,"view_count":350,"accepted_answer_id":25119642,"answer_count":2,"score":1,"last_activity_date":1567444126,"creation_date":1407156556,"question_id":25119085,"link":"https://stackoverflow.com/questions/25119085/rails-4error-in-setting-up-signin-page-as-root-page-using-devise","title":"Rails
        4:Error in setting up SignIn Page as root page using Devise"},{"tags":["ruby-on-rails","ruby","api","devise","routes"],"owner":{"reputation":1858,"user_id":715808,"user_type":"registered","accept_rate":76,"profile_image":"https://www.gravatar.com/avatar/3d6c875826eb436fa996e5b010925c87?s=128&d=identicon&r=PG","display_name":"Michael
        Irey","link":"https://stackoverflow.com/users/715808/michael-irey"},"is_answered":true,"view_count":2977,"answer_count":3,"score":5,"last_activity_date":1567444059,"creation_date":1390414769,"last_edit_date":1390434372,"question_id":21290829,"link":"https://stackoverflow.com/questions/21290829/custom-devise-routes","title":"Custom
        Devise routes"},{"tags":["ruby","git","branch","rugged"],"owner":{"reputation":14932,"user_id":518204,"user_type":"registered","accept_rate":69,"profile_image":"https://www.gravatar.com/avatar/d3096adc28daa2f0b01cfbe5b90a37db?s=128&d=identicon&r=PG","display_name":"Fabio","link":"https://stackoverflow.com/users/518204/fabio"},"is_answered":true,"view_count":20,"accepted_answer_id":57760379,"answer_count":1,"score":2,"last_activity_date":1567442602,"creation_date":1563282516,"question_id":57058021,"link":"https://stackoverflow.com/questions/57058021/implement-git-branch-contains-with-rugged-library","title":"Implement
        git branch --contains with rugged library"},{"tags":["ruby-on-rails","ruby","stripe-payments"],"owner":{"reputation":163,"user_id":2009652,"user_type":"registered","accept_rate":76,"profile_image":"https://www.gravatar.com/avatar/ab04284dee660708ce5c727fdf1f6958?s=128&d=identicon&r=PG","display_name":"sabaeus","link":"https://stackoverflow.com/users/2009652/sabaeus"},"is_answered":false,"view_count":129,"bounty_amount":50,"bounty_closes_date":1567625173,"answer_count":1,"score":2,"last_activity_date":1567441627,"creation_date":1566792392,"last_edit_date":1567052588,"question_id":57651634,"link":"https://stackoverflow.com/questions/57651634/is-it-possible-to-read-a-file-without-saving-it-in-rails","title":"is
        it possible to read a file without saving it in Rails?"},{"tags":["ruby-on-rails","ruby","bootstrap-4"],"owner":{"reputation":20,"user_id":8624883,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/[...]
