---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23sinatra
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="efd7b5a656cde551789602daddde37f0",
        oauth_signature="FNdR9B%2BgLyXkWuLaKChNjJP5Qgc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1567444916", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 02 Sep 2019 17:21:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3de5fca3fc9410456c9330eb8057283f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1567445816'
      X-Response-Time:
      - '297'
      X-Transaction:
      - 00ec91a900d84bae
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Sep 02 16:32:45 +0000 2019","id":1168562416302592000,"id_str":"1168562416302592000","text":"RT
        @lobosolitario1: \ud83d\udd34\ud83d\udd34\ud83d\udd34 STRANGERS IN THE NIGHT\nCover
        #Sinatra\n\nLos invito a escuchar la interpretaci\u00f3n a voz y guitarra
        hago de este gran C\u2026","truncated":false,"entities":{"hashtags":[{"text":"Sinatra","indices":[53,61]}],"symbols":[],"user_mentions":[{"screen_name":"lobosolitario1","name":"Angel
        Cabrera","id":45774895,"id_str":"45774895","indices":[3,18]}],"urls":[]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1114744758243659777,"id_str":"1114744758243659777","name":"Nina
        \ud83c\udf40\ud83c\udf38\ud83c\udf40NOI \ud83c\udf38\ud83c\udf40\ud83d\udc2f\ud83c\udf1e\ud83c\udf1e\u26c5","screen_name":"Nina_Zuliana44","location":"","description":"Venezuela
        ,\ud83d\udc9b\ud83d\udc99\u2764buena Musica\ud83c\udfb6\u26bd\ud83c\udf38\ud83c\udf41\ud83c\udf3f
        #SiempreAlegre\nDios con nosotros .  i Fiore freschi Sui tavolo Piuu gioga","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":628,"friends_count":916,"listed_count":3,"created_at":"Sun
        Apr 07 04:20:36 +0000 2019","favourites_count":19609,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":10171,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1167138798305796096\/hQL8L_lX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1167138798305796096\/hQL8L_lX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1114744758243659777\/1567094704","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Aug 23 17:54:05 +0000 2019","id":1164959007569661952,"id_str":"1164959007569661952","text":"\ud83d\udd34\ud83d\udd34\ud83d\udd34
        STRANGERS IN THE NIGHT\nCover #Sinatra\n\nLos invito a escuchar la interpretaci\u00f3n
        a voz y guitarra hago de este gr\u2026 https:\/\/t.co\/HFaO5cZleA","truncated":true,"entities":{"hashtags":[{"text":"Sinatra","indices":[33,41]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/HFaO5cZleA","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1164959007569661952","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":45774895,"id_str":"45774895","name":"Angel
        Cabrera","screen_name":"lobosolitario1","loc[...]
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 02 Sep 2019 17:58:12 GMT
      Ml:
      - A
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 8e5f045032e00255e4eeac9a4f3e59eb
      X-Response-Time:
      - '116'
      X-Transaction:
      - 0043f5a7007e3802
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Mon, 02 Sep 2019 17:58:13 GMT
recorded_with: VCR 5.0.0
